{% extends 'base.html' %}

{% block title %}{{ novel.novel_title }}{% endblock %}
{% block conteudo %}
    <div class="container">
        <h3>{{ novel_title }}{{ novel.novel_title }}</h3><hr>
        <div class="card-body">
            <div class="row mr-0">
                <div class="col-sm-3 mr-0">

                        <img src="{{ novel.novel_img.url}}">

                </div>
                <div class="col m-0">
                    <h6 class="card-text"> Autor: {{ novel.novel_author }}</h6>
                <h6 class="card-text"> Genero:
                    {% for tags in novel.novel_categories.all %}
                        <span class="badge badge-secondary">{{ tags }}</span>
                    {% empty %}
                        No tags
                    {% endfor %}</h6>
                <h6 class="card-text"> Last updated: {{ novel.novel_updated }}</h6>
                <h6 class="card-text"> Status: {{ novel.novel_status }}</h6>
                </div>

            </div>
        </div>


        <div class="table">
            <table class="table">
                <tr class="tab-pane">
                    <td><h6>Chapter</h6></td>
                    <td><h6>Release date</h6></td>
                </tr>

                {% for chapter in Chapters %}
                <tr>
                    <td><a href="#">Chapter {{  chapter.chapter_number }}</a></td>
                    <td>{{ chapter.chapter_title }}</td>
                    <td>{{ chapter.chapter_updated }}</td>
                </tr>
                {% endfor %}


            </table>
        </div>

    </div>


{% endblock %}