{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ novel.novel_title }}{% endblock %}
{% block conteudo %}
    <div class="container mt-4" style="border: 1px solid rgba(0,0,0,.125);">

        <div class="col-lg-8" style="display: flex;flex-wrap: wrap;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 mr-0">
    
                            <img src="{{ novel.novel_img.url}}" style="width:150px;height:220px">
    
                    </div>
                    <div class="col m-0">
                        <h3>{{ novel_title }}{{ novel.novel_title }}</h3><hr>
                        <h6 class="card-text"> Autor: {{ novel.novel_author }}</h6>
                        <h6 class="card-text"> Genero:
                        {% for tags in novel.novel_categories.all %}
                            <span class="badge badge-secondary">{{ tags }}</span>
                        {% empty %}
                            No tags
                        {% endfor %}</h6>
                        <h6 class="card-text"> Last updated: {{ novel.novel_updated }}</h6>
                        <h6 class="card-text"> Status: {{ novel.novel_status }}</h6>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="col ml-2" style="display: flex;flex-wrap: wrap;">
            <div class="table">
                <table class="table">
                    <tr class="tab-pane">
                        <td><h6>Chapter</h6></td>
                        <td><h6>Title</h6></td>
                        <td><h6>Release date</h6></td>
                    </tr>
    
                    {% for chapter in Chapters %}
                    <tr>
                        <td><a href="#">Chapter {{  chapter.chapter_number }}</a></td>
                        <td>{{ chapter.chapter_title }}</td>
                        <td>{{ chapter.chapter_updated|naturalday|title }}</td>
                    </tr>
                    {% endfor %}
    
    
                </table>
            </div>
        </div>
    </div>
    </div>


{% endblock %}