{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include 'parciais/_head.html' %}
        <title>{% block title %}Wuxia Moon Island {% endblock %}</title>
    </head>

    <body>
        {% include 'parciais/_navbar.html' %}
        <!-- Page header with logo and tagline-->
        {% block conteudo %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to the Moon Island!</h1>
                    <p class="lead mb-0">Local para apresentar os 10~15 populares da semana</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <div class="col-lg-6">
                        <div class="card mb-3" style="width: 100%">
                                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                        <div class="card-body">
                                            <div class="small text-muted">January 1, 2022</div>
                                            <h2 class="card-title h4">Post Title</h2>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                            <a class="btn btn-primary" href="#!">Read more →</a>
                                        </div>
                                    </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                                <div class="card-header">Search</div>
                                <div class="card-body">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
